[user]
	name = "Yoshiyuki HINO"
	email = gyhino@gmail.com
[core]
	excludesfile = ${HOME}/.gitignore
	editor = `which vim`
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
