[submodule ".vim/vundle"]
	path = .vim/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".vim/neobundle.vim.git"]
	path = .vim/neobundle.vim.git
	url = https://github.com/Shougo/neobundle.vim
