[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".phpcs-hnsta"]
	path = .phpcs-hnsta
	url = git@github.com:gyhino/phpcs-hnsta.git
