[[plugins]]
repo = 'Shougo/dein.vim'
[[plugins]]
repo = 'Shougo/vimproc.vim'
build = 'make'

[[plugins]]
repo = 'Shougo/context_filetype.vim'

[[plugins]]
repo = 'osyo-manga/vim-precious'
depends = ['context_filetype.vim']

[[plugins]]
repo = 'tpope/vim-fugitive'

[[plugins]]
repo = 'tpope/vim-surround'

[[plugins]]
repo = 'tpope/vim-endwise'

[[plugins]]
repo = 'jiangmiao/auto-pairs'

[[plugins]]
repo = 'scrooloose/nerdcommenter'

[[plugins]]
repo = 'mattn/emmet-vim'

[[plugins]]
repo = 'gorodinskiy/vim-coloresque'

[[plugins]]
repo = 'altercation/vim-colors-solarized'

[[plugins]]
repo = 'itchyny/lightline.vim'
hook_add = '''
let g:lightline = {
            \   'active': {
            \       'left': [ [ 'mode', 'paste' ], ['readonly', 'filename', 'modified' ], [ 'fugitive' ] ],
            \       'right': [ [ 'lineinfo' ], [ 'percent' ], [ 'ale', 'fileformat', 'fileencoding', 'filetype' ] ]
            \   },
            \   'inactive': {
            \       'left': [ [ 'readonly', 'filename', 'modified' ], [ 'fugitive' ] ]
            \   },
            \   'component': {
            \       'fugitive': '%{exists("*fugitive#head")?fugitive#head():""}'
            \   },
            \   'component_visible_condition': {
            \       'fugitive': '(exists("*figitive#head") && ""!=fugitive#head())'
            \   },
            \   'component_function': {
            \       'ale': 'LLAle'
            \   }
            \ }

function! LLAle()
    if dein#tap('ale')
        let l:count = ale#statusline#Count(bufnr(''))
        let l:errors = l:count.error + l:count.style_error
        let l:warnings = l:count.warning + l:count.style_warning
        return l:count.total == 0 ? '' : 'E:' . l:errors . ' W:' . l:warnings
    else
        return ''
    endif
endfunction
'''

[[plugins]]
repo = 'w0rp/ale'
hook_add = '''
let g:ale_sign_column_always = 1
'''

[[plugins]]
repo = 'terryma/vim-multiple-cursors'

[[plugins]]
repo = 'h1mesuke/vim-alignta'

[[plugins]]
repo = 'vim-scripts/L9'

[[plugins]]
repo = 'vim-scripts/sudo.vim'

[[plugins]]
repo = 'ludovicchabant/vim-gutentags'
hook_add = '''
let g:gutentags_ctags_tagfile = '.git/ctags'
'''

[[plugins]]
repo = 'thinca/vim-quickrun'
hook_add = '''
let g:quickrun_config = get(g:, 'quickrun_config', {})
if executable('python3')
    let g:quickrun_config.python = { 'command': 'python3' }
endif
'''

[[plugins]]
repo = 'davidhalter/jedi-vim'
hook_add = '''
let g:jedi#rename_command = '<leader>R'
autocmd FileType python let b:did_ftplugin = 1
autocmd FileType python setlocal completeopt-=preview
'''
on_ft = 'python'

[[plugins]]
repo = 'rust-lang/rust.vim'
hook_add = '''
let g:rustfmt_autosave = 1
'''
on_ft = 'rust'

[[plugins]]
repo = 'vim-scripts/PDV--phpDocumentor-for-Vim'
on_ft = 'php'
hook_source = '''
let g:pdv_cfg_Package   = ""
let g:pdv_cfg_Version   = ""
let g:pdv_cfg_Author    = "Yoshiyuki HINO <yhinoz@gmail.com>"
let g:pdv_cfg_Copyright = "(c) yhino."
let g:pdv_cfg_License   = "MIT"
'''
hook_add = '''
inoremap <C-p> <ESC>:call PhpDocSingle()<CR>i
nnoremap <C-p> :call PhpDocSingle()<CR>
vnoremap <C-p> :call PhpDocRange()<CR>
'''

[[plugins]]
repo = 'sheerun/vim-polyglot'
hook_add = '''
" for jsx
let g:jsx_ext_required = 1
let g:jsx_pragma_required = 1
'''

################################################################################
# for Go
################################################################################
[[plugins]]
repo = 'mattn/vim-goimports'

################################################################################
# lsp
################################################################################
[[plugins]]
repo = 'prabirshrestha/async.vim'

[[plugins]]
repo = 'prabirshrestha/vim-lsp'
hook_add = '''
let g:lsp_diagnostics_enabled = 0
'''

[[plugins]]
repo = 'mattn/vim-lsp-settings'

[[plugins]]
repo = 'thomasfaingnaert/vim-lsp-snippets'

[[plugins]]
repo = 'thomasfaingnaert/vim-lsp-neosnippet'

################################################################################
# dependencies plugin for lazy load plugins
################################################################################
[[plugins]]
repo = 'roxma/nvim-yarp'
if = "!has('nvim')"

[[plugins]]
repo = 'roxma/vim-hug-neovim-rpc'
if = "!has('nvim')"

[[plugins]]
repo = 'Shougo/neosnippet-snippets'
